<a href="https://colab.research.google.com/github/mostafa4099/EMK_CENTER_Data_Analysis/blob/main/test_wicket_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis with Python
## Data Manipulation with Pandas
<br>Md. Golam Mostafa
<br>Assistant Software Engineer, ERA-InfoTech Ltd
<br>PM-ASDS, 3rd Batch, Jahangirnagar University.

**Objectives:**
- Data loading from excel(.xlsx)
- Overview of dataset
- Find out shape of dataset
- Find out data type of dataset
- Statistics of dataset
- Missing value observation
- Renaming column names of datset
- Removing a column from the dataframe

**References:**
<br>[1] Data Source: https://stats.espncricinfo.com/ci/content/records/223646.html

#### Import required libraries

In [ ]:
import numpy as np
import pandas as pd

from google.colab import drive
import os
drive.mount('/content/drive')
os.chdir('/content/drive/My Drive/EMK Center/Data Analysis with Python/Data/')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### Reading an excel file

In [ ]:
df = pd.read_excel("test_cricket.xlsx", sheet_name='wickets')

display(df.head())

                    Player       Span  Mat  Inns  ...  Econ    SR   5  10
0  M Muralitharan (ICC/SL)  1992-2010  133   230  ...  2.47  55.0  67  22
1           SK Warne (AUS)  1992-2007  145   273  ...  2.65  57.4  37  10
2         A Kumble (INDIA)  1990-2008  132   236  ...  2.69  65.9  35   8
3        JM Anderson (ENG)  2003-2021  162   301  ...  2.83  56.3  30   3
4         GD McGrath (AUS)  1993-2007  124   243  ...  2.49  51.9  29   3

[5 rows x 14 columns]

#### Display 1st 10 rows

In [ ]:
display(df.head(10))

                    Player       Span  Mat  Inns  ...  Econ    SR   5  10
0  M Muralitharan (ICC/SL)  1992-2010  133   230  ...  2.47  55.0  67  22
1           SK Warne (AUS)  1992-2007  145   273  ...  2.65  57.4  37  10
2         A Kumble (INDIA)  1990-2008  132   236  ...  2.69  65.9  35   8
3        JM Anderson (ENG)  2003-2021  162   301  ...  2.83  56.3  30   3
4         GD McGrath (AUS)  1993-2007  124   243  ...  2.49  51.9  29   3
5          SCJ Broad (ENG)  2007-2021  148   272  ...  2.92  56.8  18   3
6            CA Walsh (WI)  1984-2001  132   242  ...  2.53  57.8  22   3
7            DW Steyn (SA)  2004-2019   93   171  ...  3.24  42.3  26   5
8      N Kapil Dev (INDIA)  1978-1994  131   227  ...  2.78  63.9  23   2
9        HMRKB Herath (SL)  1999-2018   93   170  ...  2.80  60.0  34   9

[10 rows x 14 columns]

#### Display Columns Names

In [ ]:
display(df.columns)

Index(['Player',   'Span',    'Mat',   'Inns',  'Balls',   'Runs',   'Wkts',
          'BBI',    'BBM',    'Ave',   'Econ',     'SR',        5,       10],
      dtype='object')

Here,
- Player - individual player name with his country name.
- Span - career range of player
- Mat - total number of played matchs
- Inns - total number of played innings
- Balls - total number of delivered balls
- Wkts - total number of wickets taken
- BBI - best bowling in innings
- BBM - best bowling in match
- Ave - average number of given runs for every wicket (Average)
- Econ - average number of given runs in each overs (Economy)
- SR - average number of delivered balls for every wicket (Strike Rate)
- 5 - total number of 5 wickets taken in a match
- 10 - total number of 10 wickets taken in a match

#### Number of columns and rows of dataset

In [ ]:
display(df.shape)

(79, 14)

So, the dataset have 14 columns and 79 rows

#### Dataset's Data Statistics

In [ ]:
display(df.describe())

              Mat        Inns         Balls  ...         SR          5         10
count   79.000000   79.000000     79.000000  ...  79.000000  79.000000  79.000000
mean    80.101266  144.797468  18630.303797  ...  59.187342  16.354430   2.797468
std     28.537692   51.042310   7190.036515  ...   9.349337   9.642372   3.235935
min     37.000000   67.000000   8785.000000  ...  41.200000   3.000000   0.000000
25%     60.500000  110.000000  13580.000000  ...  53.300000   9.500000   1.000000
50%     71.000000  129.000000  16498.000000  ...  57.400000  14.000000   2.000000
75%     93.000000  169.000000  21742.500000  ...  63.950000  20.500000   3.500000
max    166.000000  301.000000  44039.000000  ...  91.900000  67.000000  22.000000

[8 rows x 10 columns]

#### Data Type of Dataset

In [ ]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  79 non-null     object
 1   Span    79 non-null     object
 2   Mat     79 non-null     int64
 3   Inns    79 non-null     int64
 4   Balls   79 non-null     int64
 5   Runs    79 non-null     int64
 6   Wkts    79 non-null     int64
 7   BBI     79 non-null     object
 8   BBM     79 non-null     object
 9   Ave     79 non-null     float64
 10  Econ    79 non-null     float64
 11  SR      79 non-null     float64
 12  5       79 non-null     int64
 13  10      79 non-null     int64
dtypes: float64(3), int64(7), object(4)
memory usage: 8.8+ KB

None

#### Missing values checking

In [ ]:
display(df.isnull().sum())

Player    0
Span      0
Mat       0
Inns      0
Balls     0
Runs      0
Wkts      0
BBI       0
BBM       0
Ave       0
Econ      0
SR        0
5         0
10        0
dtype: int64

So, we see there is no missing values

#### Rename the column names

In [ ]:
print(df.columns)

Index(['Player',   'Span',    'Mat',   'Inns',  'Balls',   'Runs',   'Wkts',
          'BBI',    'BBM',    'Ave',   'Econ',     'SR',        5,       10],
      dtype='object')

In [ ]:
df = df.rename(columns={'Mat':'Match', 
                        'Inns':'Innings',
                        'Wkts': 'Wickets',
                        'Wkts': 'Wickets',
                        'BBI': 'Best_bowling_innings',
                        'BBM': 'Best_bowling_match',
                        'Ave': 'Average',
                        'Econ': 'Economy',
                        'SR': 'StrikeRate',
                        5: 'Five_wickets',
                        10: 'Ten_wickets'})

display(df.head())

                    Player       Span  ...  Five_wickets  Ten_wickets
0  M Muralitharan (ICC/SL)  1992-2010  ...            67           22
1           SK Warne (AUS)  1992-2007  ...            37           10
2         A Kumble (INDIA)  1990-2008  ...            35            8
3        JM Anderson (ENG)  2003-2021  ...            30            3
4         GD McGrath (AUS)  1993-2007  ...            29            3

[5 rows x 14 columns]

#### Split a column

In [ ]:
df_player = df['Player'].str.split("(", expand=True)

display(df_player.head(10))

                 0        1
0  M Muralitharan   ICC/SL)
1        SK Warne      AUS)
2        A Kumble    INDIA)
3     JM Anderson      ENG)
4      GD McGrath      AUS)
5       SCJ Broad      ENG)
6        CA Walsh       WI)
7        DW Steyn       SA)
8     N Kapil Dev    INDIA)
9    HMRKB Herath       SL)

####  Concating DataFrame

In [ ]:
df = pd.concat([df, df_player], axis=1)

display(df.head())

                    Player       Span  ...                0        1
0  M Muralitharan (ICC/SL)  1992-2010  ...  M Muralitharan   ICC/SL)
1           SK Warne (AUS)  1992-2007  ...        SK Warne      AUS)
2         A Kumble (INDIA)  1990-2008  ...        A Kumble    INDIA)
3        JM Anderson (ENG)  2003-2021  ...     JM Anderson      ENG)
4         GD McGrath (AUS)  1993-2007  ...      GD McGrath      AUS)

[5 rows x 16 columns]

#### Remove column

In [ ]:
df.drop('Player', axis=1, inplace=True)

display(df.head())

        Span  Match  Innings  ...  Ten_wickets                0        1
0  1992-2010    133      230  ...           22  M Muralitharan   ICC/SL)
1  1992-2007    145      273  ...           10        SK Warne      AUS)
2  1990-2008    132      236  ...            8        A Kumble    INDIA)
3  2003-2021    162      301  ...            3     JM Anderson      ENG)
4  1993-2007    124      243  ...            3      GD McGrath      AUS)

[5 rows x 15 columns]

In [ ]:
df = df.rename(columns={0: 'Player',
                        1: 'Country'})

display(df.head())

        Span  Match  Innings  ...  Ten_wickets           Player  Country
0  1992-2010    133      230  ...           22  M Muralitharan   ICC/SL)
1  1992-2007    145      273  ...           10        SK Warne      AUS)
2  1990-2008    132      236  ...            8        A Kumble    INDIA)
3  2003-2021    162      301  ...            3     JM Anderson      ENG)
4  1993-2007    124      243  ...            3      GD McGrath      AUS)

[5 rows x 15 columns]

#### Replace value of pandas column

In [ ]:
df['Country'] = df['Country'].str.replace(")", "")

display(df.head())

        Span  Match  Innings  ...  Ten_wickets           Player  Country
0  1992-2010    133      230  ...           22  M Muralitharan    ICC/SL
1  1992-2007    145      273  ...           10        SK Warne       AUS
2  1990-2008    132      236  ...            8        A Kumble     INDIA
3  2003-2021    162      301  ...            3     JM Anderson       ENG
4  1993-2007    124      243  ...            3      GD McGrath       AUS

[5 rows x 15 columns]

#### Reordering Columns

In [ ]:
ord_list = ['Player', 'Country', 'Span', 'Match', 'Innings', 'Balls', 'Runs', 'Wickets','Best_bowling_innings',
                    'Best_bowling_match', 'Average', 'Economy', 'StrikeRate', 'Five_wickets', 'Ten_wickets']

In [ ]:
df = df[ord_list]

display(df.head())

            Player Country       Span  ...  StrikeRate  Five_wickets  Ten_wickets
0  M Muralitharan   ICC/SL  1992-2010  ...        55.0            67           22
1        SK Warne      AUS  1992-2007  ...        57.4            37           10
2        A Kumble    INDIA  1990-2008  ...        65.9            35            8
3     JM Anderson      ENG  2003-2021  ...        56.3            30            3
4      GD McGrath      AUS  1993-2007  ...        51.9            29            3

[5 rows x 15 columns]